==
<div class="footer">
	<div class="foot-cont">
		<div class="footer-half">	
			<a href="https://www.youtube.com/channel/UCK8vTUV-lfJ7N2IAWstVZXg?view_as=subscriber">
				<img class="footer-half__img" src="{{'assets/icons/yt.svg'|theme}}">
				<span>Смотри видео на YouTube</span>
			</a>
		</div>
		<div class="footer-half">
			<a href="https://vk.com/mgok.online">
				<img class="footer-half__img" src="{{'assets/icons/vk.svg'|theme}}">
				<span>Заходи в нашу группу ВКонтакте</span>
			</a>
		</div>
	</div>
	<div class="foot-cont">
		<div class="footer-mgok-href">
			<a href="https://mgok.mskobr.ru">&copy; ГБПОУ &laquo;Московский государственный образовательный комплекс&raquo;, 2021</a>
		</div>
	</div>
</div>