==
<div class="header__wrapper wrapper">
	<div class="header__logo">
		<a class="header__link" href="https://mgok.mskobr.ru/" target="_blank">
			<img src="{{ 'assets/icons/MGOK.svg'|theme }}" alt="Logo">
		</a>
	</div>
	
	<nav class="header__nav">
		<ul class="header__nav-list">
			<li class="header__nav-item {{ this.page.id == 'raspisanie' ? 'header__nav-item_active' }}"><a href="{{ '/' }}">Расписание</a></li>
			<li class="header__nav-item {{ this.page.id == 'zagruzhennost-kabinetov' ? 'header__nav-item_active' }}"><a href="{{ '/zagruzhennost-kabinetov' }}">Загруженность кабинетов</a></li>
<!-- 			<li class="header__nav-item {{ this.page.id == 'tehpodderzhka' ? 'header__nav-item_active' }}"><a href="{{ '/tehpodderzhka' }}">Техподдержка</a></li> -->
			<li class="header__nav-item {{ this.page.id == 'onlajn-priemnaya' ? 'header__nav-item_active' }}"><a href="{{ '/onlajn-priemnaya' }}">Онлайн-приемная</a></li>
			{% if Authorization.allow == true %}
				{% if Authorization.role == 'Преподаватель' and Authorization.groups == true %}
				<li class="header__nav-item {{ this.page.id == 'elektronnyj-zhurnal' ? 'header__nav-item_active' }}"><a href="{{ '/elektronnyj-zhurnal' }}">Электронный журнал</a></li>
				{% endif %}
			{% endif %}
		</ul>
	</nav>

	<div class="header__user">
		<div class="header__dropdown user-dropdown">
			<button class="user-dropdown__btn">{{ Authorization.getFullName() }}</button>
			<ul class="user-dropdown__list">
				{% if Authorization.role == 'Преподаватель' %}
					{% if Authorization.class %}
						<li><a  class="user-dropdown__item" href="{{ '/raspisanie-klassa' }}">Класс</a></li>
						<li><a  class="user-dropdown__item" href="{{ '/individualnoe-raspisanie' }}">Индивидуальное расписание</a></li>
					
					{% else %}
						<li class="user-dropdown__item">У вас нет классов</li>
					{% endif %}
					
				{% elseif Authorization.role == 'Ученик' %}
					<li class="user-dropdown__item"><a href="{{ '/redaktirovanie-raspisaniya' }}">Редактировать</a></li>
				{% endif %}
			</ul>
		</div>
		
		{% if this.page.url == '/individualnoe-raspisanie' or this.page.url == '/raspisanie-klassa' or this.page.url == '/redaktirovanie-raspisaniya' %}
			<a class="header__sign-out" href="/">Назад</a>
		{% else %}
			<a class="header__sign-out" data-request="onLogout">Выход</a>
		{% endif %}
		
	</div>
</div>