==
<?php
function onStart() {
	
	$this['functions'] = new class {
		
		public function getInitials($str) {
      $arr = explode(" ", $str);
      
 			$res = $arr[0] . " " . substr($arr[1], 0, 2) . ". " . substr($arr[2], 0, 2) . ".";
      return $res;
		}
	};
}
?>
==
<div class="col-lesson">
	<div class="time">
		<span class="start-time">{{lesson.time_from | date('H:i') }}</span>
		<span class="end-time">{{lesson.time_to | date('H:i') }}</span>
	</div>
	<div class="cab-info">
		<span class="lesson-name">{{lesson.lesson_name}}</span>
		<span class="teach-name" title="{{ lesson.teacher }}">{{functions.getInitials(lesson.teacher)}}</span>
	</div>
</div>