==
<form class = 'carusel-form'>
	<div class="top-div">
		<img class="carousel-arrow" src="{{ 'assets/icons/carousel-left.png'|theme }}">
		<div class="image-slider swiper-container">
			<div class="image-slider__wrapper swiper-wrapper">
					{% for lesson in lessons %}
						<div class="image-slider__slide swiper-slide">
							<div class="image-slider__image">
								<div class="slide-text">{{lesson.lesson_name}}</div>
							</div>
						</div>
					{% endfor %}
			</div>
		</div>
		<img class="carousel-arrow" src="{{ 'assets/icons/carousel-right.png'|theme }}">	
	</div>
</form>