title = "Электронный журнал"
url = "/elektronnyj-zhurnal"
layout = "main"
description = "Электронный журнал"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ELjournal]
==
<?php
function onStart() {
	$this['selected_group'] = Request::get('group');
	$this['selected_semester'] = Request::get('semester');
	$this['selected_month'] = Request::get('month');
	$this['selected_subject'] = Request::get('subject');
}
?>
==
<link rel="stylesheet" href="{{ 'assets/css/EJ.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/swiper-bundle.min.css'|theme }}">

{% set role = ELjournal.role%}

<div class="EJ-container">
	<div class="description__div">
		{% if role == 'Преподаватель' %}
			<span class="group__span">Группа</span>
		{% endif %}
		<span class="sem__span">Семестр</span>
		<span class="month__span">Месяц</span>
	</div>
	
	<div class="select__div">
		<!-- 1-ый селектор -->
		{% if role == 'Преподаватель' %}
			{% set groups = ELjournal.groups %}
			{% partial "journal/groupsSelect" groups=groups %}
		{% endif %}
		
		<!-- 2-ой селектор -->
		{% set semesters = ELjournal.semesters %}
		{% partial "journal/semestrSelect" %}
		
		<!-- 3-ий селектор -->
		{% set months = ELjournal.months %}
		{% partial "journal/monthsSelect" %}
	
	
		{% set subjects = ELjournal.subjects %}
		{% partial "journal/carusel"
			subjects = subjects
		%}
	</div>

	{% set classmates = ELjournal.classmates %}
	{% set students = ELjournal.students %}
	<div class="table" id='table'>	
		{% partial "journal/table"
			month = ELjournal.month
			students = students
			days = ELjournal.days
			role = role
			marks = ELjournal.marks
			addictives = ELjournal.addictives
			finals = ELjournal.result_marks
		%}
	</div>
	<button class="save-btn hide" id="save-btn">Сохранить</button>
</div>

<script src="{{ 'assets/js/swiper-bundle.min.js'|theme }}"></script>
<script src="{{ 'assets/js/journal.js'|theme }}"></script>