title = "Электронный журнал"
url = "/elektronnyj-zhurnal"
layout = "main"
description = "Электронный журнал"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ELjournal]
==
<?php
function onStart() {
	$this['selected_group'] = Request::get('group');
	$this['selected_semester'] = Request::get('semester');
	$this['selected_month'] = Request::get('month');
	$this['selected_subject'] = Request::get('subject');
}
?>
==
<link rel="stylesheet" href="{{ 'assets/css/swiper-bundle.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/sweetAlert.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/select.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/EJ6.css'|theme }}">

{% set role = ELjournal.role%}

<div class="EJ-container">

	<div class="selects-cont">
		<div>
			{% if role == 'Преподаватель' or role =='Модератор' %}
				<span class="group__span">Группа</span>
			{% endif %}
			{% if role == 'Преподаватель' or role =='Модератор' %}
				{% set groups = ELjournal.groups %}
				{% partial "journal/groupsSelect" groups=groups %}
			{% endif %}
		</div>
		<div>
			<span class="sem__span">Семестр</span>
			{% set semesters = ELjournal.semesters %}
			{% partial "journal/semestrSelect" %}
		</div>
		<div>
			<span class="month__span">Месяц</span>
			{% set months = ELjournal.months %}
			{% partial "journal/monthsSelect" %}
		</div>
		<div>
			<span class="month__span">Предмет</span>
			{% set subjects = ELjournal.subjects %}
			{% partial "journal/carusel"
				subjects = subjects
			%}
		</div>
	</div>

	{% set classmates = ELjournal.classmates %}
	{% set students = ELjournal.students %}
	<div class="table" id='table'>	
		{% partial "journal/table"
			month = ELjournal.month
			students = students
			days = ELjournal.days
			role = role
			marks = ELjournal.marks
			addictives = ELjournal.addictives
			finals = ELjournal.result_marks
			teacher = ELjournal.teacher
		%}
	</div>
	<button class="save-btn hide" id="save-btn">Сохранить</button>
</div>


<script src="{{ 'assets/js/libs/select.js'|theme }}"></script>
<script src="{{ 'assets/js/libs/sweetAlert.js'|theme }}"></script>
<script src="{{ 'assets/js/journal13.js'|theme }}"></script>