title = "Индивидуальное расписание"
url = "/individualnoe-raspisanie"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Schedule]

[Authorization]
==
<?php
function onStart() {
	$this['selected_student'] = Request::get('student');
	$this['selected_group'] = Request::get('group');
}

function onChangeStudent() {
	$student_login = post('student');
	$schedule = $this->page->components['Schedule']->getStudentScheduleByLogin($student_login);
	
	return ['#schedule' => $this->renderPartial('schedule/schedule-edit', [
		'lessonsArr' => $schedule['lessons'],
		'eventsArr' => $schedule['events'],
		'dates' => $schedule['dates'],
	])];

  /*for ($i = 0; $i < 7; $i++) {
    $day_of_week_eng = $this->days_of_week_eng[$i]; // день недели на англ.

    $lessons[$day_of_week_eng] = $this->getLessonsByDay($i); // Установить для этого дня недели уроки
    $events[$day_of_week_eng]  = $this->setEvents($i);
  }
  
  $this->lessons = $lessons;
  $this->events = $events;*/
}
?>
==
<link rel="stylesheet" href="{{ 'assets/css/schedule.css'|theme }}">

<div class="schedule__bg_white">
	<div class="wrapper">
		<div class="students-dropdown-list">
			<span class="choose-student">Выберите ученика:</span>
			<!-- <select name='student' id='student-select' data-request='onChangeStudent' class="student__select"> -->
			<select name='student' id='student-select' class="student__select">
				{% for student in Schedule.students %}
					<option 
						value="{{student.login}}"
						{% if selected_student == student.login %}
							selected
						{% endif %}
					>
						{{ student.full_name }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

<section class="schedule-weeks">
	{% partial "schedule/weeks" 
		monday=Schedule.dates[0]
		sunday=Schedule.dates[6]
		number=Schedule.number_of_week
	%}
	
	{% partial "schedule/groups" 
		groups=Schedule.classes
		selectedGroup = selected_group
	%}
</section>


<section class="schedule" id="schedule">
	{% partial "schedule/schedule-edit" 
		dates=Schedule.dates
		lessonsArr=Schedule.lessons
		eventsArr=Schedule.events
	%}
</section>