==
<tr id={{chapter}}>
	<td class="num-cell">{{criteriy.id}}</td>
	<td class="criteria-cell">{{criteriy.criteria}}</td>
	<td class="weight-cell">{{criteriy.criteria_weight}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.mechanical_engineering_input}}" data-name="mechanical_engineering_input"></td>
	<td class="res-cell" data-name="mechanical_engineering_ball">{{criteriy.mechanical_engineering_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.economy_input}}" data-name="economy_input"></td>
	<td class="res-cell" data-name="economy_ball">{{criteriy.economy_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.pharmaceuticals_input}}" data-name="pharmaceuticals_input"></td>
	<td class="res-cell" data-name="pharmaceuticals_ball">{{criteriy.pharmaceuticals_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.it_input}}" data-name="it_input"></td>
	<td class="res-cell" data-name="it_ball">{{criteriy.it_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.math_input}}" data-name="math_input"></td>
	<td class="res-cell" data-name="math_ball">{{criteriy.math_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.linguistics_input}}" data-name="linguistics_input"></td>
	<td class="res-cell" data-name="linguistics_ball">{{criteriy.linguistics_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.earth_input}}" data-name="earth_input"></td>
	<td class="res-cell" data-name="earth_ball">{{criteriy.earth_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.foreign_input}}" data-name="foreign_input"></td>
	<td class="res-cell" data-name="foreign_ball">{{criteriy.foreign_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.health_input}}" data-name="health_input"></td>
	<td class="res-cell" data-name="health_ball">{{criteriy.health_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.design_input}}" data-name="design_input"></td>
	<td class="res-cell" data-name="design_ball">{{criteriy.design_ball}}</td>
	<td class="input-cell"><input class="input-field__cell" value="{{criteriy.tutor_input}}" data-name="tutor_input"></td>
	<td class="res-cell" data-name="tutor_ball">{{criteriy.tutor_ball}}</td>
</tr>