:root {
	--muted-blue: #647c97;
	--muted-cyan: #F3F9FB;
	--golden: #FFD031;
	--text: #2d2d2d;
	--muted: #6E6E6C;
}

.wrapper {
	max-width: 1180px;
	width: 100%;
	
	padding: 0 20px;
	margin:  0 auto;
}
body{
	  overflow:hidden;
}

header {
	z-index: 10;
	
	width: 100%;
	height: 95px;
	
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(229, 229, 229, 0.42);
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	
	width: 100%;
	height: 100%;
}
.header__logo,
.header__link,
.header__link img{
	max-width: 100px;
	width: 100%;
}
.header__nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.header__nav-item a {
	font-size: 14px;
	color: var(--muted);
	letter-spacing: 0.05em;
}
.header__nav-item_active {
	border-bottom: 2px solid var(--muted-blue);
}
.header__nav-item_active a {
	color: var(--text);
}
.header__user {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.header__sign-out {
	font-size: 14px;
	color: var(--muted);
	letter-spacing: 0.05em;
	cursor:pointer;
}
.user-dropdown__btn {
	padding: 5px;
	background-color:#F3F9FB;
	font-weight: 600;
	cursor: pointer;
}
.user-dropdown{
	position: relative;
}
.user-dropdown__list {
  display: none;
  flex-direction: column;
  
  position: absolute;
  right: 0;
  top: 30px;
  
  width: 200px;
  
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  
  transition: opacity .3s;
}
.user-dropdown__list_active {
  display: flex;
  opacity: 1;
}
.user-dropdown__item{
	padding: 13px 20px;
		font-weight: 700;
		display:block;
}
.user-dropdown__item:hover{
	background-color:#F3F9FB;
}
.schedule {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
.schedule__wrapper {
	display: flex;
	flex-direction: column;
}
.schedule__date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	margin: 50px 0 25px 70px;
}
.schedule__date p {
	font-size: 16px;
	font-weight: 300;
}
.schedule__date span {
	font-size: 20px;
	border-bottom: 3px solid var(--golden);
}
.schedule__bg {
	padding: 30px 0;
	background: var(--muted-cyan);
}
.schedule__bg_white {
	padding: 30px 0;
	background-color: white;
}
.schedule__lessons-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}
.schedule__lesson-item {
	position:relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 260px;
	height: 175px;
	
	padding: 15px;
	
	background-color: #fff;
	border-left: 2px solid var(--muted-blue);
}
.schedule__plug {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 160px;
	
	margin-left: 70px;

	font-size: 18px;
	font-weight: 500;
}
.schedule__event-item{
	position:relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	
	width: 260px;
	height: 160px;
	
	padding: 15px;
	
	background-color: #fff;
	border-left: 2px solid var(--golden);
}
.schedule__lesson-item_top {
	display: flex;
	justify-content: space-between;
}
.schedule__lesson-item_top span {
	color: var(--muted);
}
.schedule__lesson-item_top p {
	color: #2E2B1E;
	font-size: 16px;
	font-weight: 700;
}
.schedule__event-item_top__p{
	color: #2E2B1E;
	font-size: 16px;
	font-weight: 900;
	text-align: right;
}
.schedule__subject {
	margin: 10px 0 auto 0;
	font-size: 18px;
	height: 60px;
	overflow: hidden;
}
.schedule__info-class,
.schedule__info-place,
.schedule__info-creator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.schedule__info-class {
	margin-top: auto;
}
.schedule__info-class span,
.schedule__info-place span {
	color: var(--muted);
	font-size: 14px;
}
.schedule__info-place p {
	font-weight: bold;
	font-size: 14px;
}
.schedule__info-class p {
	font-size: 14px;
}
.schedule__info-creator p {
	font-weight: 500;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.schedule-weeks {
	display: flex;
	padding-top: 50px;
	background: #fff;
	padding: 50px calc((100vw - 1180px) / 2) 0;
}
.schedule-weeks > div { 
	width: max-content;
	margin: 0; 
}
.schedule-weeks__block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}
.schedule-weeks__block img {
	cursor: pointer;
	width: 25px;
}
.schedule-weeks__block {
	letter-spacing: 1px;
	font-size: 16px;
}
.schedule-add__add {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	
	width: 260px;
	height: 160px;
	
	padding: 58px 67px 58px 32px;
	
	background-color: #fff;
	border-left: 4px solid var(--muted-blue);
	cursor: pointer;
}
.schedule-add__add:hover {
	border-left: 4px solid var(--golden);
}
.schedule-add__add img {
	height: 25px;
}
.schedule-add__add span {
	font-weight: 900;
	font-size: 18px;
}
.schedule__extracurricular {
	align-self: flex-start;
	margin: 30px 0 20px 70px;
	border-bottom: 2px solid var(--muted-blue);
}
.enter-form__valid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.flash-message {
	color: red;
	opacity: .5;
}

.schedule-add{
	
	display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 30px;
  font-weight: 700;
  align-items: center;
  padding: 58px 67px 58px 32px;

  margin-right: 29px;
  margin-bottom: 32px
	
	width: 263px;
	height: 160px;
	background-color: #fff;
	border-left: 4px solid var(--muted-blue);
}
.schedule-add:hover{
	border-left: 4px solid var(--golden);
}
.footer{
	width:100%;
	position:absolute;
	display: flex;
  justify-content: center;
  height: 124px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgb(229 229 229 / 42%);
  margin-bottom: 0;
  margin-top: auto;
  flex-shrink: 0;
}
.foot-cont{
	display:flex;
	margin:auto 0;
}
.footer-mgok-href{
	display: flex;
  margin: 0 0 0 auto;
  align-items: flex-end;
  text-align:right;
  width:60%;
}
.footer-half{
	display: flex;
  flex-direction:column;
  align-items: left;

}
.footer-half a span{
	margin:auto 20px auto 0;
	font-weight: 200;
}
.footer-half a{
	display: flex;
	align-items:center;
	margin-bottom:10px;
	gap:10px;
}
.footer-half__img{
	width:30px;

}
.dop{
		margin-right:900px;
	  margin-top: 50px;
    float: left;
    margin-left: 68px;
    font-family: "Intro", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #2E2B1E;
    border-bottom: 2px solid #647c97;
    margin-bottom: 23px;
    padding-bottom: 2px;
}
.add-event__div{
	display: none;
	position:relative;
	margin-right:640px;
	width:500px;
  flex-direction: row;
	padding:30px;
	background-color: #fff;
	border-left: 4px solid var(--golden);
}
.cancel__button{
	position: absolute;
	bottom: 30px;
	right:190px;
	background-color:#fff;
	box-shadow:1px 1px 5px rgb(129 129 129 / 30%);
	border-radius:4px;
	float:right;
	width:140px;
	height:44px;
	border: none;
  border: 1px solid #4F80A1;
/* 	font-family: "Intro-Regular", serif; */
  font-style: normal;
  font-weight: normal;
	font-size: 14px;
  line-height: 14px;
  cursor:pointer;
}
.add__button{
	background: linear-gradient(270deg, #409bc2 0%, #2661a6 100%);
	box-shadow:1px 1px 5px rgb(129 129 129 / 30%);
	border-radius:4px;
	width:140px;
	height:44px;
	border:none;
	float:right;
	margin-left:20px;
/* 	font-family: "Intro-Regular", serif; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor:pointer;
}
.stroke{
	display:flex;
	justify-content: space-between;
	gap: 10px;
}
.eventTime{
	display: flex;
	align-items: center;
	gap: 10px;
}
.stroke-name {
	margin: auto 0;
	font-weight:700;
	font-size:18px;
}
.name-field{
	border:1px solid #6E6E6C;
	border-radius:4px;
	min-height: 30px;
	max-width:300px;
	max-height: 100px;
	min-width:300px;
	padding-left: 7px;
	background-color: white;
}
.field{
	border:1px solid #6E6E6C;
	border-radius:4px;
	height: 30px;
	width:300px;
	padding-left: 7px;
	background-color: white;
}
.add-event__form{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
	width: 100%;
}
.under-h{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgb(229 229 229 / 42%);
  margin-bottom: 25px;
  z-index: 998;
}
.search-cab{
	background: linear-gradient(270deg, #409bc2 0%, #2661a6 100%);
	box-shadow:1px 1px 5px rgb(129 129 129 / 30%);
	border-radius:4px;
	width:140px;
	height:35px;
	border:none;
	margin-left:16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top:16px;
  margin-left:50px;
}
.form-cab{
	width: 1140px;
  height: 60px;
  display: flex;
  
  margin: 0 auto 40px auto;
}
.cab__input{
	background: #FFFFFF;
	float:left;
	margin-top:17px;
	height:29px;
	width: 200px;
	color:#6E6E6C;
	border:none;
	border-bottom: 1px solid #4F80A1;
	font-weight: 200;
	font-size: 14px;
	padding: 0 5px;
}
.cab__input:focus{
	background-color: #F3F9FB;;
}
.adr__input{
	background: #FFFFFF;
	float:left;
	margin-top:17px;
	height:29px;
	width: 190px;
	margin-left:50px;
	color:#6E6E6C;
	border:none;
	border-bottom: 1px solid #4F80A1;
	font-weight: 300;
	font-size: 14px;
}
.time-field{
	border:1px solid #6E6E6C;
	border-radius:4px;
	padding: 3px;
	height: 30px;
	width:54px;
	text-align:center;
	background-color: white;
}
.add-panel{
	width:100%;
}
.container{
	width:1150px;
	margin: 0 auto;
	margin-top:50px;
}
.support-container{
	display:flex;
	width:1150px;
	margin: 0 auto;
}
.support-header{
	width:100%;
	margin-bottom:30px;
	font-size:20px;
	font-weight: 200;
}
.support-form{
	width:360px;
	height:145px;
	background:#ffffff;
	box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
	border-left: 1px solid #6E6E6C;
	padding: 45px 0 0 45px;
	font-size:24px;
	margin-right: 30px;
	cursor:pointer;
	font-weight: 200;
	transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.support-form:hover{
	border-left: 1px solid #FFD031;	
}
.support-form span{
	display: block;
	transition: transform 0.3s ease-out;
}
.support-form:hover span{
	transform: scale(1.05);
	font-weight: 400;
}
.table-container{
	display:flex;
	width:1140px;
	margin: 0 auto;
	justify-content: space-between;
}
.column{
	width:220px;
	display:flex;
	flex-direction:column;
}
.col-day{
	width: 220px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #2E2B1E;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-bottom: 25px;
  box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
  font-weight:500;
}
.col-lesson{
	background-color:#ffffff;
	display: flex;
	margin-bottom:20px;
	justify-content:space-between;
	padding:10px;
}
.lesson-name{
    font-family: "Intro";
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #6E6E6C;
}
.start-time{
	font-weight:700;
	font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
}
.end-time{
	font-weight:300;
	font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
}
.teach-name{
	font-weight:700;
	font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  max-width: 130px;
}
.time{
	display: flex;
	flex-direction: column;
}
.cab-info{
	text-align:right;
	display: flex;
	flex-direction: column;
}
.container-prijom{
	width:1140px;
	margin:50px auto 0 auto;
}
.block{
	font-family:"Intro", serif;
	font-weight:200;
	cursor:pointer;
	width:350px;
	height:145px;
	background:#fff;
	box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
	border-left: 3px solid #4F80A1;
	font-size:22px;
	margin-right:30px;
	margin-bottom:35px;
	float:left;
	transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.block:hover{
	border-left: 3px solid #FFD031;	
/* font-size: 24px; */
}
.block a{
	width:350px;
	height:145px;
		padding: 35px 15px 0 42px;
  transition: transform 0.3s ease-out;
	display:block;
}
.block:hover a{
	transform: scale(1.05);
	font-weight: 400;
}
.complain{
	font-family:"Intro", serif;
	font-weight:200;
	cursor:pointer;
  width:350px;
	height:145px;
	background:#fff;
	box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
	border-left: 3px solid #6E6E6C;
	padding: 35px 0 0 42px;
	font-size:22px;
	float:left;
	transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.complain a{
		transition: transform 0.3s ease-out;
}
.complain:hover a{
		font-weight:400;
		transform: scale(1.05);
		display: block;
}
.apply__div{
	width:1140px;
	margin: 30px auto 0 auto;
}
.dir-span{
	width: 254px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #2E2B1E;
  border-bottom: 1px solid #4F80A1;
  margin-top:20px;
  margin-bottom: 37px;
}
.zam-span{
	width: 395px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #2E2B1E;
  border-bottom: 1px solid #4F80A1;
  margin-bottom: 37px;
}
.zav-span{
	width: 397px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #2E2B1E;
  border-bottom: 1px solid #4F80A1;
  margin-bottom: 37px;	
}
.info-card{
	position: relative;
  float: left;
  display: inline-block;
  width: 263px;
  height: 468px;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
  margin-right: 20px;
  margin-bottom:50px;
}
.card-img{
	width:263px;
	height:300px;
}
.apply-post{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #6E6E6C;
}
.toApply{
	position:absolute;
	color:#fff;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  background: linear-gradient(90deg, #2661A6 0%, #409BC2 100%);
  box-shadow: 10px 10px 20px rgb(229 229 229 / 25%);
  text-align: center;
}
.toApply a{
	cursor:pointer;
	color:#fff;
	font-weight:700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgb(255,255,255);
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.card-info{
	padding:16px 16px 0 16px;
}
.apply-fio{
	font-size:16px;
	letter-spacing: 0.05em;
	margin-bottom:8px;
	font-weight:700;
}
.back-btn{
	font-size:20px;
	font-weight:700;
}
.container{
	width:1140px;
	margin:40px auto;
}
.modules {
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between;
    font-weight:700;
    color:rgb(112,112,112);
    margin-bottom:50px;
}
.select{
	margin-bottom:64px;
}
.selected{
    color: #4F80A1;
    text-decoration: underline;
}
.number-stud{
	display:none;
}
.m1-r4 {
    height: 45px;
}
.m1-table {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-spacing: 0px;
}
.m1-table {
	border-spacing: 0px;
	border-collapse: collapse;
}
.m1-table td,th{
	vertical-align: middle;
}
.student-name{
	width:165px;
	height: 45px;	
	width:165px;
	border-right: 1px solid #f3f9fb;
	border-bottom: 1px solid #f3f9fb;
  font-size: 14px;
  line-height: 20px;
  font-family:"Intro", serif;
  font-weight:400;
  letter-spacing: 0.05em;
  color: #3D3D3D;
  text-align: left;
  padding-left: 24px;
  vertical-align: middle;
}
.m1-t2{
	border-spacing: 0px;
}
.table-head{
	width:100%;
	height:72px;
}
.th1{
	width:165px;
}
.th2{
	width: 195px;
}
.th3{
	width: 390px;
}
.th4{
	width: 195px;
}
.th5{
	width: 195px;
	border-bottom: 1px solid #f3f9fb;
}
.res{
	background-color: #fff;
}
.m-title{
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #707070;
    margin-bottom: 32px;
    text-align:left;
}
.br-border{
	border-right: 1px solid #f3f9fb;
	border-bottom: 1px solid #f3f9fb;
}
.vert{
	font-size: 12px;
	width:65px;
	writing-mode: vertical-rl;
}
.check-point-tr{
	height:165px;
}
.max-block-tr{
	height:76px;
}
.main-table{
	font-size: 12px;
	display:none;
}
.update {
		display:none;
    margin-top: 40px;
    margin-bottom: 56px;
    width: 200px;
    height: 50px;
    float: right;
    outline-style: none;
    font-family: "Intro", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    border: none;
    cursor:pointer;
    box-shadow: 1px 1px 5px rgb(129 129 129 / 30%);
    border-radius: 4px;
    letter-spacing: 0.07em;
    background: linear-gradient(to left, #2661A6, #409BC2, #2661A6);
    background-size: 200%;
    transition: .5s;
}
.update:hover {
    background-position: right;
    letter-spacing: 0.08em;
    cursor: pointer;
}
.plus-th{
	vertical-align:top;
	padding-top:70px;
}
.module2-table{
	width:1140px;
	margin:0 auto;
	text-align: center;
	display:none;
}
.m2-table{
	width:100%;
	background-color:#fff;
	font-size: 12px;
	text-align: center;
}
.m2-table td,th{
	vertical-align:middle;
}
.m2-head{
	height:92px;
}
.module3-table{
		width:1140px;
	margin:0 auto;
	text-align: center;
	display: none;
}
.input-name{
	width:195px;
}
.module4-table{
		width:1140px;
	margin:0 auto;
	text-align: center;
	display: none;
}
.module5-table{
		width:1140px;
	margin:0 auto;
	text-align: center;
	display: none;
}
.module6-table{
	width:1140px;
	margin:0 auto;
	text-align: center;
	display: none;
}
.module7-table{
		width:1140px;
	margin:0 auto;
	text-align: center;
	display: none;
}
.fio-res{
	  width: 168px;
    font-family: "Intro", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}
.res-table{
	width:100%;
	background-color:#fff;
	font-size: 16px;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
}
.res-head{
	height:160px;
}
.res-vert{
	width: 108px;
	writing-mode: vertical-rl;
}
.student-res-name{
	width:165px;
	height: 45px;	
	width:165px;
  font-size: 14px;
  line-height: 20px;
  font-family:"Intro", serif;
  font-weight:400;
  letter-spacing: 0.05em;
  color: #3D3D3D;
  text-align: left;
  padding-left: 24px;
  vertical-align: middle;
  border-top:1px solid #f3f9fb;
}
.br-border-res{
	border-top:1px solid #f3f9fb;
	vertical-align:middle;
}
.res-ball{
	border-right:1px solid #4f90a1;
}
.result{
	display: none;
}
.select-lesson{
width: 260px;
height: 60px;
font-weight: 400;
padding-left: 16px;
background-color: white;
font-size: 14px;
color: #707070;
}
.select-class{
	width: 200px;
	height: 60px;
	font-weight: 400;
	padding-left: 16px;
	background-color: white;
	font-size: 14px;
	color: #707070;
}
.input-term{
	width: 130px;
	height: 60px;
	font-weight: 400;
	padding-left: 16px;
	font-size: 14px;
	color: #707070;
}
.shown{
	display:block;
}
.modbtn{
	cursor:pointer;
	background-color: #F3F9FB;
}
.students-dropdown-list{
	display: flex;
	flex-direction:column;
	
	width: 1140px;
	
	margin: 50px auto 0 auto;
}
.choose-student{
	font-family:"Intro", serif;
	font-weight:700;
	font-size: 18px;
}
.student__select{
	margin-top:5px;
	font-size: 16px;
  font-family: font-family: 'Intro', serif;
  font-weight: normal;
  height: 50px;
  width: 400px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-radius: 2px;
  background-color:white;
}
.remove-event{
	border-radius:50%;
	box-shadow:0 2px 10px rgba(0,0,0, 0.3);
	position:absolute;
	width:22px;
	height: 22px;
	top:-11px;
	left:-11px;
	cursor:pointer;
}
.remove-event__img{
	width:22px;
	height: 22px;
}
.red-box{
	border: 1px solid red;
	border-radius: 4px;
}
.alerts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.alert__span {
	display:none;
	
	color: red;
	opacity: .6;
	font-size: 14px;
}
.alert__span_active {
	display: block;
}
.event-plus__div{
	background-color: #fff;
	width: 260px;
	height: 160px;
	text-align: center;
	vertical-align:middle;
	border-left: 4px solid #4F80A1;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	cursor:pointer;
}
.event-plus__div:hover{
	border-left: 4px solid var(--golden);
}
.event-plus__img{
	width: 20px;
	margin: auto 0px auto 10px;
}
.event-plus__span{
	width:100px;
	height: 40px;
	font-weight: 700;
	text-align: left;
	margin: auto auto;
	font-size: 18px;
}
.schedule__info{
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 10px;
}
.schedule__info-creator,
.schedule__info-place {
	/* margin-left: auto; */
}
.schedule__info-creator{
	font-weight: 700;
	color: #2E2B1E;
}
.creator__span, .place__span{
	margin-left: auto;
}
