[Activities]
==
<li class="add-event__div" id="add-event-div">
	<form class="add-event__form" data-day="{{day}}">
		<div class="stroke">
		<span class="stroke-name">Время</span>
			<div class="eventTime">
				<div class="timeFrom">
					<span>с</span>
					<input class="time-field field" name='time_from' id="timeFrom">
				</div>
				<div class="timeTo">
					<span>по</span>
					<input class="time-field field" name='time_to' id="timeTo">
				</div>
			</div>
		</div>
		
		<div class="stroke">
			<span class="stroke-name">Название</span>
			<select class="name-field" name='event_name'>
				{% set activities = Activities.activities %}
				{% for activity in activities %}
					<option value="{{ activity.activity_name }}">{{ activity.activity_name }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="stroke">
			<span class="stroke-name">Место</span>
			<input type="text" class="field" name='event-input-place' id="event-input-place">
		</div>
		
		<div class="alerts">
			<span class="alert__span" id="alert-empty">Заполните все данные</span>
			<span class="alert__span" id="alert-wrong">Поля "Время" заполнены некорректно</span>
		</div>
		
		<div class="schedule-add__btns">
			<button type="submit" class="add__button" id="add-event-button">Добавить</button>
		</div>
	</form>
	
	<button class="cancel__button" id="cancel-add-event">Отмена</button>
</li>