[Activities]
==
<li class="add-event__div" id="add-event-div">
	<form class="add-event__form" data-day="{{day}}">
		<div class="stroke">
		<span class="stroke-name">Время</span>
			<div class="eventTime">
				<div class="timeFrom">
					<span>с</span>
					<input class="time-field field" name='time_from' id="timeFrom">
				</div>
				<div class="timeTo">
					<span>по</span>
					<input class="time-field field" name='time_to' id="timeTo">
				</div>
			</div>
		</div>
		
		<div class="stroke">
			<span class="stroke-name">Название</span>
			<select class="name-field" name='event_name'>
				{% set activities = Activities.activities %}
				{% for activity in activities %}
					<option value="{{ activity.activity_name }}">{{ activity.activity_name }}</option>
				{% endfor %}
<!-- 				<option>Подъём</option>
<option>Гигиена</option>
<option>Зарядка</option>
<option>Завтрак</option>
<option>Трансфер</option>
<option>Перекус</option>
<option>Обед</option>
<option>ГПД</option>
<option>Прогулка</option>
<option>Дополнительное образование</option>
<option>Ужин</option>
<option>Индивидуальные занятия</option>
<option>Домашние поручения</option>
<option>Сон</option>
<option>Праздник</option>
<option>Концерт</option>
<option>Фестиваль</option>
<option>Конкурс</option>
<option>Олимпиада </option>
<option>Демоэкзамен</option>
<option>Чемпионат</option>
<option>Тренировка</option>
<option>Индивидуальный график обучения</option>
<option>Учебный день в музее</option>
<option>Московское кино в школе</option>
<option>Экскурсия, поездка</option>
<option>Дистанционное обучение</option>
<option>Лагерь</option>
<option>Санаторий</option>
<option>Больничный</option>
<option>Каникулы</option> -->
			</select>
		<!-- 	<textarea placeholder="Введите название" class="name-field" name='event_name'></textarea> -->
		</div>
		
		<div class="stroke">
			<span class="stroke-name">Место</span>
			<input type="text" class="field" name='event-input-place' id="event-input-place">
		</div>
		
		<div class="alerts">
			<span class="alert__span" id="alert-empty">Заполните все данные</span>
			<span class="alert__span" id="alert-wrong">Поля "Время" заполнены некорректно</span>
		</div>
		
		<div class="schedule-add__btns">
			<button type="submit" class="add__button" id="add-event-button">Добавить</button>
		</div>
	</form>
	
	<button class="cancel__button" id="cancel-add-event">Отмена</button>
</li>