==
<li>
	{% if type != "plug" %}
		<form data-request = "onDeleteEvent" class="schedule__lesson-item">
			
			<div class="schedule__lesson-item_top">
				<span>{{lesson.number_lesson}}</span>
				<p>{{lesson.time_from | date('H:i')}} - {{lesson.time_to | date('H:i')}}</p>
			</div>
			
			<span class="schedule__subject" title="{{lesson.lesson_name}}">{{lesson.lesson_name}}</span>
			<div class="schedule__info-class">
				<span>Класс:</span>
				<p>{{lesson.class }}</p>
			</div>
			<div class="schedule__info-place">
				<span>Кабинет:</span>
				<p>{{lesson.cabinet}}</p>
			</div>
			
		</form>
	{% else %}
		<div class="schedule__lesson-item">
			<div class="schedule__lesson-item_top">
				<span>{{ numLesson }}</span>
			</div>
			<span class="schedule__subject">Урок отсутствует...</span>
		</div>
	{% endif %}
</li>