==
{% set week = Schedule.days_of_week_eng %}

{% for index, day_of_week in week %}
		<div class="wrapper">
		<div class="schedule__date">
			<p>{{ getDate(index) }}</p>
			<span>{{ Schedule.days_of_week_rus[index] }}</span>
		</div>
	</div>
	<div class="schedule__bg">
		<div class="wrapper schedule__wrapper">
			<ul class="schedule__lessons-list">
				<!-- Уроки -->
				{% set lessons = lessonsArr[day_of_week] %}
				{% for lesson in lessons %}
					{% partial "schedule/lesson" lesson=lesson %}
				{% endfor %}
				

				
			</ul>
			
			{% set events = eventsArr[day_of_week] %}
			{% if events|length %}
				<span class="schedule__extracurricular">Внеурочная деятельность</span>
			{% endif %}
			
			<ul class="schedule__lessons-list">
			<!-- 	<span class="dop">События</span> -->
				{% for event in events %}
					{% partial "schedule/lesson" lesson=event %}
				{% endfor %}
				
			</ul>
		</div>
	</div>
{% endfor %}