==
{% set week = Schedule.days_of_week_eng %}

{% for index, day_of_week in week %}
		<div class="wrapper">
		<div class="schedule__date">
			<p>{{ dates[index] }}</p>
			<span>{{ Schedule.days_of_week_rus[index] }}</span>
		</div>
	</div>
	<div class="schedule__bg">
		<div class="wrapper schedule__wrapper">
			<ul class="schedule__lessons-list">
				<!-- Уроки -->
				{% set lessons = lessonsArr[day_of_week] %}
				{% for lesson in lessons %}
					{% partial "schedule/lesson" lesson=lesson %}
				{% endfor %}
				

				
			</ul>
			
			{% set events = eventsArr[day_of_week] %}
			{% if events|length %}
				<span class="schedule__extracurricular">Внеурочная деятельность</span>
			{% endif %}
			
			<ul class="schedule__lessons-list">
				<span class="dop">События</span>
				{% for event in events %}
					{% partial "schedule/lesson" lesson=event %}
				{% endfor %}
				
				<li class="add-event__div">
					<form class="add-event__form">
						<div class="stroke">
						<span class="stroke-name">Время</span>
						<div class="eventTime">
							<div class="timeFrom">
								<span>с</span>
								<input class="time-field">
							</div>
							<div class="timeTo">
								<span>по</span>
								<input class="time-field">
							</div>
						</div>
						</div>
						<div class="stroke">
							<span class="stroke-name">Название</span>
							<textarea placeholder="Введите название" class="name-field"></textarea>
						</div>
						<div class="stroke">
							<span class="stroke-name">Кабинет</span>
							<input type="text" class="field">
						</div>
						<div class="schedule-add__btns">
							<button class="add__button">Добавить</button>
							<button class="cancel__button">Отмена</button>
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>
{% endfor %}