==
<?php
function onStart() {
	$this['functions'] = new class {
		
		public function getDate($date) {
			
      $date = explode(" ", $date);
      $date = explode("-", $date[0]);
      
      if (isset($date[1])) {
      	
        switch ($date[1]){
          case 1: $m='января'; break;
          case 2: $m='февраля'; break;
          case 3: $m='марта'; break;
          case 4: $m='апреля'; break;
          case 5: $m='мая'; break;
          case 6: $m='июня'; break;
          case 7: $m='июля'; break;
          case 8: $m='августа'; break;
          case 9: $m='сентября'; break;
          case 10: $m='октября'; break;
          case 11: $m='ноября'; break;
          case 12: $m='декабря'; break;
        }
        return $date[2].' '.$m; 
			}
		}
	};
}
?>
==
<div class="wrapper">
	<div class="schedule-weeks__block" data-week-number="{{number}}">
		<img src="{{ 'assets/icons/arrow-left.svg'|theme }}" class="change-week previous-week">
		<span>{{ functions.getDate(monday) }} - {{ functions.getDate(sunday) }}</span>
		<img src="{{ 'assets/icons/arrow-right.svg'|theme }}" class="change-week next-week">
	</div>
</div>